@model MuseumApplication.Domain.DomainModels.VisitorHistory

@{
    ViewData["Title"] = "View";
}

<h1>Details</h1>


<!-- TODO: Create Table for VisitorHistory -->
<table class="table">
    <!-- Look at the table from any Index page for help -->
    <!-- Iterate throught Model.VisitorsInHistory -->
    <!-- Display: Visitor Name, Visitor Last Name, Membership Type-->
</table>


<!-- TODO: Display Total Count -->
<div>
    <p>Total Count: </p>
</div>
