@model MuseumApplication.Domain.DomainModels.VisitorHistory

@{
    ViewData["Title"] = "View";
}

<h1>Details</h1>


<!-- TODO: Create Table for VisitorHistory -->
<table class="table">
    <!-- Look at the table from any Index page for help -->
    <!-- Iterate throught Model.VisitorsInHistory -->
    <!-- Display: Visitor Name, Visitor Last Name, Membership Type-->
    <thead>
        <tr>
            <th>Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.VisitorInHistories)
        {
            <tr>
                <td>@item.Visit.User.FirstName</td>
                <td>@item.Visit.User.LastName</td>
            </tr>
        }
    </tbody>
</table>
<div>
    <p>Total Count: </p>
    @Model.VisitorInHistories.Sum(x => x.Quantity);
</div>
